################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Data Structures Project
/.vs/Data Structures Project/v14
